body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: rgb(43, 43, 43);
    height: 100vh;
    min-width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 80%;
}

.perfil__img {
    width: 70px;
    border-radius: 50%;
    border: 6px solid green;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    padding: 0;
}

.nombre {
    font-size: 30px;
    color: white;
}

.profesion {
    font-size: 18px;
    color: white;
}

.header__buttons {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.header__buttons:hover {
    scale: 1.1;
    background-color: rgb(145, 202, 59);
}



.main {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main__container {
    border: 1px solid firebrick;
    width: 95%;
}

.main__title{
    font-size: 50px;
    margin: 0;
}

.secondary__title{
}

.section{
    min-height: 100vh;
    border: 1px solid gold;
    display: flex;
    flex-direction: column;
}

.section__one{
    justify-content: center;
    align-items: start;
}
span{
    color: rgb(145, 202, 59);
}