body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header {
    background-color: rgb(43, 43, 43);
    height: 100vh;
    min-width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}
.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 80%;
}

.perfil__img{
    width: 70px;
    border-radius: 50%;
    border: 6px solid green;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.nombre{
    font-size: 30px;
    color: white;
}

.profesion{
    font-size: 18px;
    color: white;
}

.header__buttons{
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}
.header__buttons:hover{
    scale: 1.1;
    background-color: rgb(163, 196, 113);
}



.main {
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main__container{
    border: 1px solid firebrick;
    width: 95%;
    margin-top: 30vh;
}