body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: rgb(43, 43, 43);
    height: 100vh;
    min-width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 80%;
}

.perfil__img {
    width: 70px;
    border-radius: 50%;
    border: 6px solid green;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    padding: 0;
}

.nombre {
    font-size: 30px;
    color: white;
}

.profesion {
    font-size: 18px;
    color: white;
}

.header__buttons {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 55, 53);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.header__buttons:hover {
    scale: 1.1;
    background-color: rgb(145, 202, 59);
}



.main {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main__container {
    width: 95%;
}

.main__title{
    font-size: 50px;
    margin: 0;
}

.secondary__title{
}

.section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_one{
    align-items: start;
}

.section_two{
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.button{
    background-color: rgb(56, 55, 53);
    padding: 5px 50px;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.cv__button{
    max-width: 50%;
    color: white;
}

.section_two__title{
    width: 100%;
}

.section_two__information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0;
}

.personal_information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_two__list{
    list-style: none;
}


.skill__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 0;
}

.skill__card{
    padding: 25px;
    width: 80px;
    max-height: 100px;
    background-color:rgb(56, 55, 53) ;
    font-variant: small-caps;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__number{
    font-size: 40px;
}

span{
    color: rgb(145, 202, 59);
}

a{
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}

